/* Common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; /* Remove default margin */
}

header {
    position: fixed;
    top: 0;
    height: 5em;
    display: flex;
    align-items: center;
    width: 100%;
    transition: background-color .4s ease-in-out;
    z-index: 2; /* Ensure the header appears above the background image */
    font-weight: 600;
    font-style: normal;
}

header.scrolled {
    background-color: #2a4851;
    opacity: 0.80;
    box-shadow: 5px 1px 1px rgb(43, 41, 41);
}


/* Rest of your CSS code */



.all {
    height: 0px;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
  }


.navbar {
    width: 100%;
    overflow: hidden;
    height: 80px; /* Increased height */
    

}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 25px; /* Adjusted padding for vertical centering */
    text-decoration: none;
    transition: color 0.3s; /* Smooth transition */
}

.navbar a:hover {
    color: #ffffff;
    font-size: large; /* Change of text color on hover */
    background-color: #e99815;
}


.logo_container{
    height: 100%;
    display: table;
    float: left;

}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 32px;
}

.logo_container h1 span{
    font-weight: 800;
}
.logo_container #EGYPT{
    color: #e99815;
    font-family: monospace;
    font-size: 32px;
}

.li-hidden{
    display: none;
}

.navbar .page-total{
  
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    float: none;
    position: absolute;
    left: 30%;
    list-style-type: none;
    height: 100%;
}
.ul-page-total{
    list-style-type: none;
    display: flex;    
}




.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    padding: 20px 16px; /* Adjusted padding for vertical centering */
    cursor: pointer;
    transition: color 0.3s; /* Smooth transition */
    list-style-type: none; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a4851;
    min-width: 160px;
    z-index: 1;

        list-style-type: none;
      
      
    
}
.ul-page-total .home{
    color: #e99815;   
    font-size: large; 
}
.ul-page-total .home:hover{
    color: #ffffff;
}
.dropdown-content a {
    width: 100%;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #e99815;
color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.login-button {
    background-color: #e99815;
    color: #333;
    border: none;
    border-radius: 20%; /* Circular shape */
    padding: 14px 15px;
    margin: 18px 21px; /* Adjusted margin for vertical centering */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    float: right;
}

.login-button:hover {
    background-color: #ffffff; /* Darker background on hover */
}

@media screen and (max-width: 767px) {
    .navbar a {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 14px 16px; /* Adjusted padding */
        box-sizing: border-box; /* Include padding in width calculation */
    }

    .navbar .logo {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 20px 16px; /* Adjusted padding */
        box-sizing: border-box; /* Include padding in width calculation */
    }
    .logo_container h1{
        font-size: 20px;
        padding-bottom: 10px;
        
    }
    .menu {
        width: 20px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        margin: 4px 5px;
      }
      
      .login-button {
        padding: 9px 10px;
    }
    .ul-page-total{
        display: none;
    }
    .li-hidden{
        display: block;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer-container{
	max-width: 1170px;
	margin:auto;
    
    
}
.footer-row{
	display: flex;
     border-radius: 7%;
    
}
.footer-container ul{
	list-style: none;
}
footer{
	background-color: #2a4851;
    border-top-right-radius: 30% ;
    border-top-left-radius: 30% ;
    opacity: 0.97;
    padding-top: 30px;
    /*margin: 0 50px;*/

}
.footer{
	background-color: #1e2021;
    border-top-right-radius: 30% ;
    border-top-left-radius: 30% ;
    padding-top: 25px;;
    /*margin: 0 50px;*/

}
.footer-col{
   width: 25%;
   padding: 0 20px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 15px;
	font-weight: 500;
	position: relative;
    
}

hr.footer-line-col {
    border-top: 3px solid #774529;
    margin-left: 0;
    width: 60px;
  }
  
.footer-col ul li{
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #7ea1ac;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #2a4851;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #b37718;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 767px){
    /*#footer-col-1{
        width: 50%;
    }
    #footer-col-2{
        width: 50%;
    }
    #footer-col-3{
        width: 50%;
    }
    #footer-col-4{
        width: 50%;
    }*/
    .footer-row{
        flex-wrap: wrap;
    }
  .footer-col{
    width: 20%;
    }
    #footer-col-1{
        padding-left: 10%;
        }
    #footer-col-4{
        
        display: contents;
    }
    #footer-line-col-media{
        display: none;
    }
    #footer-media-title{
        margin: 10px 20px 10px 70px;
        
    }
}





.menu-bar {
    display: flex;
    gap: 10px;
}

.menu-item {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #555;
}

.check-hotels-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.check-hotels-btn:hover {
    background-color: #0056b3;
}

.background {
    background-image: url('../Images/hotel\ info.avif');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;
    width: 100%;
    z-index: 1; /* Lower z-index */

    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.25); /* Adjust opacity here */
}

.here {
    display: flex;
    flex-direction: row; /* Change to row to align the elements horizontally */
    align-items: center; /* Align the elements vertically */
    justify-content: space-between; /* Add space between the elements */
    padding: 10px 20px;
    overflow: hidden;
    height: 100%;
}

.content {
    margin-top: 0; /* Adjusted margin */
    z-index: 1;
    border: 2px solid white; /* Add border */
    padding: 20px; /* Add padding to create space between text and border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow */
}

.background h2, p {
    font-size: 3rem;
    color: #fff;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 700;
}

.background p {
    font-size: 0.7rem;
    letter-spacing: 1ex;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.read-more {
    margin-top: 10px;
    padding: 5px 15px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    font-weight: bold; /* Add bold font */
    cursor: pointer;
    border-radius: 30px; /* Make it rounded */
    display: inline-block; /* Make it inline block */
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: rgba(142, 132, 132, 1); /* Add transparent white background on hover */
}

.white-section {
    padding: 50px 10px; /* Adjusted padding */
}

.content1 {
    padding: 2;
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Updated max-width */
    margin: 0 auto; /* Center align content */
}

.text-section {
    margin-top: 100;
    margin-left: 10;
    padding-right: 20px; /* Adjusted padding */
}

.text-section p {
    letter-spacing: 2;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 0.8rem; /* Updated font size */
    font-weight: 100;
    color: #878787ae;
    margin-top: 20px; /* Adjusted margin */
}

.text-section h2 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 2.2rem; /* Updated font size */
    color: #9f8f8f;
    margin-top: 0px; /* Adjusted margin */
}

.text-section h4 {
    font-size: 1.3rem; /* Updated font size */
    font-weight: 1;
    color: #8e8a8a;
    margin-top: 10px; /* Adjusted margin */
}

.text-section h5 {
    font-size: 1.5rem; /* Updated font size */
    font-weight: 100;
    color: #8e8a8a;
    font-family: Cedarville Cursive;
    margin-top: 10px; /* Adjusted margin */
}

.photo-section {
    flex-shrink: 0;
    width: 550px;
    margin-left: auto; /* Align photo to the right */
    border-radius: 25px;
    overflow: hidden;
}

.photo-section img {
    width: 100%; /* Ensure the image fills its container */
    height: 600; /* Maintain aspect ratio */
    border-radius: 25px;
    object-fit: cover;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 40px;
  color: #765b5b;
  text-align: center;
  margin-top: 50px;
}

.title p {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 16px;
  color: #4d4242c0;
  text-align: center;
  margin-top: 10px;
}

.services-section {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
    border: 1px solid #3f5266; /* Add border with desired color */
  border-color: #3f5266;
  text-align: center;
}


.card .icon {
  font-size: 45px;
  margin-bottom: 25px;
  color: #2b1704;
}

.card h2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 22px;
  color: #222;
  margin-bottom: 20px;
}

.card p {
  font-size: 16px;
  font-family: 'Noto Sans SC', sans-serif;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #8c8c8c;
}

@media screen and (max-width: 992px) {
  .card {
    width: calc(50% - 20px); /* Two cards per row */
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%; /* One card per row */
  }
}

.tm-home-box-2 {
width: calc(24% - 10px); /* Set the width to about one-fourth of the container width with a smaller margin */
  margin-right: 20px; /* Add margin between cards */
  background-color: #ffffff;
  margin:10;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  float: left; /* Float the cards to make them side by side */
}


.tm-home-box-2:hover {
  transform: translateY(-5px);
}

.tm-home-box-2 img {
  width: 100%;
  height: 260px; /* Adjusted height */
  border-radius: 10px 10px 0 0;
}

.tm-home-box-2 h3 {
  font-size: 18px; /* Set the font size */
  color: #333333; /* Set the text color */
  margin: 10px 0; /* Adjust margins */
  text-align: center; /* Center align the text */
  font-weight: bold; /* Add bold font weight */
}

.tm-home-box-2 p {
  font-size: 12px; /* Reduce font size */
  color: #666666;
  margin: 0;
}

.tm-home-box-2 h3 {
  font-size: 18px; /* Set the font size */
      font-family: 'Noto Sans SC', sans-serif;

  color: #333333; /* Set the text color */
  margin: 10px 0; /* Adjust margins */
  text-align: center; /* Center align the text */
  font-weight: bold; /* Add bold font weight */
}


.tm-home-box-2 p {
  font-size: 12px; /* Reduce font size */
  color: #666666;
  margin: 0;
}

.tm-section-title {
  font-size: 36px; /* Set the font size */
  
  color: #333333; /* Set the text color */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing */
  margin-top: 20px; /* Adjust top margin */
  margin-bottom: 30px; /* Adjust bottom margin */
  text-align: center; /* Center align the text */
  font-weight: bold; /* Add bold font weight */
}

.tm-home-box-2-container {
  
  display: flex;
  justify-content: space-between;
  padding: 0 10px; /* Adjust padding */
}
.tm-home-box-2-container {
      font-family: 'Noto Sans SC', sans-serif;

  color: #333333;
}

.tm-home-box-2-icon {
  font-size: 16px; /* Reduce icon size */
  margin: 0 5px;
  text-decoration: none; /* Remove text decoration from icon */
}

.border-right {
  border-right: 1px solid #cccccc;
}

.border-left {
  border-left: 1px solid #cccccc;
}

/* Clearfix for row */
.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 992px) {
  .tm-home-box-2 {
    width: calc(50% - 20px); /* Set the width to 50% on laptops */
  }
}

@media screen and (max-width: 768px) {
  .tm-home-box-2 {
    width: calc(50% - 20px); /* Set the width to 50% on tablets */
  }
}

@media screen and (max-width: 480px) {
  .tm-home-box-2 {
    width: 100%; /* Set the width to 100% on smaller screens */
    margin-right: 0; /* Remove margin */
    margin-bottom: 20px; /* Add bottom margin */
  }
}

.container {
    flex: 1;
}

.custom-background {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.newsletter-container {
    margin: 15px auto;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://www.shutterstock.com/image-vector/airplane-line-vector-icon-air-260nw-1176516769.jpg');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter-container h1 {
    font-family: 'Noto Sans SC', sans-serif;
    letter-spacing: 1px;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}.button-link {
    padding: 12px 24px;
    border: none;
    background-color: #765b5b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #5a4747; /* Darker shade on hover */
}
